@charset "UTF-8";

/*
https://colorhunt.co/palette/1b262c0f4c753282b8bbe1fa

#1B262C
#0F4C75
#3282B8
#BBE1FA
*/

tr.board_content_tr {

}



th.board_title_td {
	font-family: NanumGothic,Arial;
	font-size : 16px;
	color : #BBE1FA;
}

td.board_content_td {
	font-family: NanumGothic,Arial;
	font-size : 16px;
	color : #0F4C75;
	padding:8px
}

a.board_link:link{
	text-decoration: none;
	color:inherit;
}

a.board_link:hover{
	text-decoration: underline;
	color:inherit;
}
a.board_link:visited{
	text-decoration: none;
	color:inherit;
}

tr.board_title_tr {
	background-color: #1B262C;
}

tr.board_content_tr {
	background-color: #BBE1FA;
}

.page_link_wrap {
   text-align:center;
}

ul.page_link {
	display: inline-block;
	margin:0px ;
	padding:0px; 
	text-align:center;
	list-style: none;
}

ul.page_link li {
    display: inline;
    	margin:0px ;
	padding:0px; 
}
ul.page_link a {
    background: #BBE1FA;
    color: #1B262C;
    border: 1px solid #1B262C;
    width: 25px;
    height: 20px;
    float: left;
    margin: 0 5px;
	padding-top: 5px; 
	text-decoration: none;
	
}
ul.page_link a.active {
    background: #3282B8;

}
