@charset "UTF-8";

/*
https://colorhunt.co/palette/1b262c0f4c753282b8bbe1fa

#1B262C
#0F4C75
#3282B8
#BBE1FA
*/

tr.header_line {
	background-color: #1B262C;
}

span.header_menu {
	color : #BBE1FA;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}

a.header_link:link {
	text-decoration: none;
	color:inherit;
}

a.header_link:hover {
	text-decoration-line: underline;
	text-decoration-color :  #BBE1FA;
	color:inherit;
}
